<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.62.0.0" newVersion="1.62.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ConnString_Analitika" connectionString="Data Source=REX;Initial Catalog=Analitika;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionFile" value="\\rex\SQL_XML\FILES\GoogleAPI\LemonaAPI-4052fb0ed930.json" />
    <add key="limit" value="10000" />
    <add key="propertyId-LT" value="249719553" />
    <add key="propertyId-LV" value="314954156" />
    <add key="propertyId-EE" value="315011544" />
    <add key="propertyId-EU" value="314963712" />
  </appSettings>
</configuration>